<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="../">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsv-0fwzqSLlVbp3CyBWQxqUDdx0OkolAOo_ZxZ-AGJhXFCM3JqXR-J0p74mb3XmHT5i4&usqp=CAU" alt="" srcset="">
                <h3> User Panel</h3>
            </a>
        </div>
        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li ><a routerLink="../user/dashboard">Component 1</a></li>
                <li ><a routerLink="../user/alerts">Component 2</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="pt-1">
  <router-outlet></router-outlet>
</div>