<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="../">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDqPh7XCCA3Q8s--MeRSOENDv9luFtK89WosM0HS75jXYXp-FLrzHfLlz7YN5DqTpyQo&usqp=CAU" alt="" srcset="">
                <h3> Admin Panel</h3>
            </a>
        </div>
        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li ><a routerLink="first-component">Blogs</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="pt-1">
  <router-outlet></router-outlet>
</div>