<div class="home-dashboard">
    <div class="center">
        <div class="card">
            <div class="card-icon">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDqPh7XCCA3Q8s--MeRSOENDv9luFtK89WosM0HS75jXYXp-FLrzHfLlz7YN5DqTpyQo&usqp=CAU"
                    alt="" srcset="">
            </div>
            <p>
                Specify the module using the --module parameter. For example, if the main module is app.module.ts, run this: <br>
                <b>ng g c new-component --module app</b><br>
                Or if you are in an other directory then <br>
                <b>ng g c component-name --module ../</b>
            </p>
            <h3 routerLink="../admin">Admin Panel</h3>
        </div>
        <div class="card">
            <div class="card-icon">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsv-0fwzqSLlVbp3CyBWQxqUDdx0OkolAOo_ZxZ-AGJhXFCM3JqXR-J0p74mb3XmHT5i4&usqp=CAU"
                    alt="">
            </div>
            <p>
                Specify the module using the --module parameter. For example, if the main module is app.module.ts, run this: <br>
                <b>ng g c new-component --module app</b><br>
                Or if you are in an other directory then <br>
                <b>ng g c component-name --module ../</b>
            </p>
            <h3 routerLink="../user">User Panel</h3>
        </div>
    </div>
</div>
<!-- 
<div class="dark-theme">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Admin</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Component 1</button>
        <button mat-menu-item>Component 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">User</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="../user/dashboard">Dashboard</button>
        <button mat-menu-item routerLink="../user/alerts">Alerts</button>
    </mat-menu>
    
</div> -->